.body{
  background-color: rgb(223, 219, 218);
  min-height: "100%";
  padding:'3rem'
}
.column {
    float: left;
    padding: 0 10px;
  }
  .row {
    padding: '2rem';
    align-items: center;
  }
  .float-left {
    text-align: left;
  }
  .float-right {
    text-align: right;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #main-div{
    align-items: center;
    width: 65%;
  }
  #notification-div{
    width: 25%;
  }
.card{
  width: '25rem';
  height: '5rem';
  padding: '1rem'; 
  background-color: "white"  
}
