.addbody {
  display: flex;
  width: 100vw;
  height: 60vh;
  margin-bottom: 100px;
  /* position: relative; */
}
.addimage {
  background-image: url('../../assets/addmoney.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 50%;
}
.addform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

@media (max-width:800px) {
  .addbody{
      flex-direction: column;
      /* justify-content: center; */
  }
  .addform{
      width:100%;
      height: 50%;
  }
  .addimage{
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: 50%;
      /* display: none; */
  }
}